.initial {
	padding-left: 17vh;
	display: grid;
	grid-auto-rows: min-content;
	/* background: rgb(14, 14, 14); */
	background: url("https://www.stud.fit.vutbr.cz/~xramas01/assets/background.gif"), linear-gradient(178deg, rgba(14, 14, 14, 1) 0%, rgba(14, 14, 14, 1) 91%, rgba(255, 255, 255, 1) 94%);
	background-repeat: no-repeat, no-repeat;
	background-size: 50% 110vh, auto;
	background-position: right 15%;
	height: 110vh;
}


@media (min-aspect-ratio: 1/1) {
	.initial {
		grid-template-columns: minmax(auto, 20%) minmax(auto, 20%);
		grid-template-areas:
			"name name . ."
			"contacts contacts contacts ."
			"aboutme aboutme . ."
			"socials socials socials .";
	}
}

@media (max-aspect-ratio: 1/1) {
	.initial {
		grid-template-areas:
			"name"
			"contacts"
			"aboutme"
			"socials";
			background-size: 50% 102vh, auto;
			background-position: right 15%;
	}
}

.dark * {
	color: rgb(240, 240, 240);
	font-weight: bold;
}

.initial .name {
	grid-area: name;
}

.initial .contacts {
	grid-area: contacts;
}

.initial>p {
	grid-area: aboutme;
}

.initial .socials {
	grid-area: socials;
}

.initial ul li {
	display: inline;
	margin-right: 1em;
}

.initial ul li svg {
	min-width: 2rem;
	max-width: 4rem;
	filter: invert(90%);
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

.dark a,
.dark a:link,
.dark a:visited,
.dark a:hover,
.dark a:active {
	text-decoration: none;
	color: white;
}
